Flask==1.1.4  # Pinning Flask to version 1.1.4, which is compatible with Werkzeug 1.0.1
Werkzeug==1.0.1  # Pinning Werkzeug to version 1.0.1, which contains the url_quote function
pandas
scikit-learn>=0.24.2
tensorflow==2.16.1
numpy
Cython>=0.29.24
Markupsafe==2.1.5  # Pinning Markupsafe to version 2.1.5

